# This is a CODEOWNERS file for GitHub
# Lines starting with '#' are comments.
# Each line represents a file pattern followed by one or more owners

# The following example assumes 'JoaoPSFranca' should be the code owner for specific directories and file types.

# Default owners for everything in the repo
*       @JoaoPSFranca
